{% extends "layout.html" %} {% block title %}{{title}}{% endblock %} {% block head %} {%
endblock %} {% block content %}
<section class="hero">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered">Success.</h1>
                <p class="summary">{{summary_message}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="{{success_image.url()}}" />
            </div>
        </div>
    </div>
</section>
{% endblock %}
