{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <section class="hero has-text-centered">
     <div class="hero-body">
        <div class="container">
           <h1 class="title">
              Hero title
           </h1>
           <h2 class="subtitle">
              Hero subtitle
           </h2>
        </div>
     </div>
  </section>
  <section class="section">
     <div class="container">
        <div class="columns">
           <div class="column">
              First column
           </div>
           <div class="column">
              Second column
           </div>
           <div class="column">
              Third column
           </div>
           <div class="column">
              Fourth column
           </div>
        </div>
     </div>
  </section>
{% endblock %}
