{% extends "layout.html" %}
{% block title %}Henshin!{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <section class="hero has-text-centered">
     <div class="hero-body">
        <div class="container">
           <h1 class="title">
              Henshin!
           </h1>
              {{intro_string | markdown}}
           </h2>
        </div>
     </div>
  </section>
  <section class="section">
     <div class="container">
        {% for show in shows %}
        <div class="columns">
           <div class="column is-half is-offset-one-quarter">
              <h4 class="title is-4">
                {{ show.title }}
              </h4>
              <h6 class="subtitle is-6">
                <strong>Original release:</strong> {{ show.first_episode_date | datetime }}  - {{ show.last_episode_date | datetime}}
              </h6>
              <video controls>
                <source src="http:{{ show.henshin[0].url() }}" type="video/webm" alt="{{show.title}}">
                Your browser does not support video.
              </video>
           </div>
        </div>
        {% endfor %}
     </div>
  </section>
{% endblock %}
